{% extends 'base/base.html' %}

{% load bootstrap5 %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-success">
                Save
            </button>
        {% endbuttons %}
    </form>
    <p>
        <a href="{% url 'password_change' %}"><button class="btn btn-warning">Change password</button></a>
        <a href="{% url 'change_spec_type' %}"><button class="btn btn-warning">Change role</button></a><br>
    </p>
    <p>
        <a href="{% url 'profile' user.pk %}"><button class="btn btn-primary">Back to profile</button></a>
    </p>
{% endblock %}